{{extend 'plugin_mobilelayout.html'}}

<div class="w3-row btnRow">
  <a href="{{=URL('index', args=return_pos)}}" class="w3-btn w3-indigo w3-ripple w3-round">Zpět</a>
  <a href="{{=URL(args=(return_pos, 'plus'))}}" class="w3-btn w3-teal w3-round-xxlarge w3-ripple"><b>+</b></a>
  <a href="{{=URL(args=(return_pos, 'minus'))}}" class="w3-btn w3-teal w3-round-xxlarge w3-ripple"><b>-</b></a>
</div>

<div class="w3-lime">Nastavení velikosti textu - Ukázka textu</div>
<div class="w3-lime">Nastavení velikosti textu - Další ukázka textu</div>
