<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/krepo/static/css/w3.css"/>
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <title>K-Report čtečka</title>
</head>
<body>

{{if auth.user:}}
  <a href="#" id="menu" class="w3-btn">&#9776;</a>
  <a href="{{=URL('nastav')}}" id="nastav" class="w3-btn w3-indigo hidden">Nastav</a>
{{else:}}
  <a href="{{=URL('user')}}" class="w3-btn w3-pink">Přihlásit se</a>
{{pass}}

{{if vzad:}}
  <a href="{{=URL(args=pos - 1)}}" class="w3-btn w3-orange">{{=vzad}}</a>
{{pass}}

{{if tato:}}
  <button class="w3-yellow">{{=tato}}</button>
{{pass}}

{{if vpred:}}
  <a href="{{=URL(args=pos + 1)}}" class="w3-btn w3-green">{{=vpred}}</a>
{{pass}}


<style>
  .hidden {display: none;}
</style>
<script>
  document.getElementById('menu').addEventListener("click", function(evt) {
    evt.preventDefault();
    document.getElementById('menu').className += " hidden";
    var elNastav = document.getElementById('nastav');
    elNastav.className = elNastav.className.replace( /(?:^|\s)hidden(?!\S)/g , '' );
  });
</script>


{{if ok:}}
  {{if nejsou_nove:}}
    <p class="w3-teal">Nejsou nové příspěvky.</p>
  {{pass}}
  {{for prispevek in prispevky:}}
    <div class="w3-{{if prispevek.get('old'):}}khaki{{else:}}lime{{pass}}" style="margin-bottom: 6px;">
      <span class="w3-teal" style="padding-right: 12px;">{{=prispevek.get('aut', '')}}</span>
      {{=XML(prispevek.get('txt', ''))}}
    </div>
  {{pass}}
{{else:}}
  <p class="w3-red">Selhalo načtení vlákna.</p>
{{pass}}

</body>
</html>
