<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/krepo/static/css/w3.css"/>
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <title>K-Report čtečka</title>
</head>
<body style="font-size:{{=fs}}%;">

<header class="w3-row" style="font-size:{{=fs2}}px;">
  <a href="{{=URL('nabidka', args=(vlakno_id, pos))}}" class="w3-btn w3-ripple w3-round">&#8801;</a>

  {{if vzad:}}
    <a href="{{=URL(args=pos - 1)}}" class="w3-btn w3-orange w3-ripple w3-round">{{=vzad}}</a>
  {{pass}}

  {{if tato:}}
    <a href="{{=URL(args=pos, 'all')}}" class="w3-yellow w3-btn w3-round">{{=tato}}</a>
  {{pass}}

  {{if vpred:}}
    <a href="{{=URL(args=pos + 1)}}" class="w3-btn w3-green w3-ripple w3-round">{{=vpred}}</a>
  {{pass}}
</header>

<article class="w3-row">
{{if ok:}}
  {{if nejsou_nove:}}
    <p class="w3-teal">Nejsou nové příspěvky.</p>
  {{pass}}
  {{for prispevek in prispevky:}}
    <div class="w3-{{if prispevek.get('old'):}}khaki{{else:}}lime{{pass}}" style="margin-bottom: 10px; padding: 0 3px;">
      <span class="w3-teal" style="padding-right: 12px;">{{=prispevek.get('aut', '')}}</span>
      {{=XML(prispevek.get('txt', ''))}}
    </div>
  {{pass}}
{{else:}}
  <p class="w3-red">Selhalo načtení vlákna.</p>
{{pass}}
</article>

<footer class="w3-row" style="font-size:{{=fs2}}px;">
  {{for pgpos, pg in enumerate(all_pages[pos+1:]):}}
    <a href="{{=URL(args=pgpos+pos+1)}}" class="w3-btn w3-green w3-ripple w3-round">{{=pg}}</a>
  {{pass}}
  {{for pgpos, pg in enumerate(all_pages[:pos]):}}
    <a href="{{=URL(args=pgpos)}}" class="w3-btn w3-orange w3-ripple w3-round">{{=pg}}</a>
  {{pass}}
  <a href="{{=URL('nabidka', args=(vlakno_id, pos))}}" class="w3-btn w3-ripple w3-round">&#8801;</a>
</footer>

</body>
</html>
