{{block head}}
  <style>
    .prispevek {margin-bottom: 10px;}
  </style>
{{end}}

{{extend 'plugin_mobilelayout.html'}}

<header class="btnRow w3-row">
  <a href="{{=URL('nabidka', args=(vlakno_id, pos))}}" class="w3-btn w3-ripple w3-round">&#8801;</a>

  {{if forced_by_id:}}
    <a href="{{=URL(args=('id', vlakno_id, 'all'))}}" class="w3-yellow w3-btn w3-round">{{=forced_by_id}}</a>
    {{if tato:}}
      <a href="{{=URL(args=pos)}}" class="w3-green w3-btn w3-round">{{=tato}}</a>
    {{pass}}
  {{else:}}
    {{if vzad:}}
      <a href="{{=URL(args=pos - 1)}}" class="w3-btn w3-orange w3-ripple w3-round">{{=vzad}}</a>
    {{pass}}

    {{if tato:}}
      <a href="{{=URL(args=(pos, 0, 'all'))}}" class="w3-yellow w3-btn w3-round">{{=tato}}</a>
    {{pass}}

    {{if vpred:}}
      <a href="{{=URL(args=pos + 1)}}" class="w3-btn w3-green w3-ripple w3-round">{{=vpred}}</a>
    {{pass}}
  {{pass}}
</header>

<article class="w3-row">
{{if ok:}}
  {{if nejsou_nove:}}
    <p class="w3-teal">Nejsou nové příspěvky.</p>
  {{pass}}
  {{for prispevek in prispevky:}}
    <div class="fwt prispevek w3-{{if prispevek.get('old'):}}khaki{{else:}}lime{{pass}}">
      <span class="w3-teal" style="padding-right: 12px;">{{=prispevek.get('aut', '')}}</span>
      {{=XML(prispevek.get('txt', ''))}}
    </div>
  {{pass}}
{{else:}}
  <p class="w3-red">Selhalo načtení vlákna.</p>
{{pass}}
</article>

<footer class="btnRow w3-row">
  {{for pgpos, pg in enumerate(all_pages[pos+1:]):}}
    <a href="{{=URL(args=pgpos+pos+1)}}" class="w3-btn w3-green w3-ripple w3-round{{if not pgpos:}} w3-xlarge{{pass}}">{{=pg}}</a>
  {{pass}}
  {{for pgpos, pg in enumerate(all_pages[:pos]):}}
    <a href="{{=URL(args=pgpos)}}" class="w3-btn w3-orange w3-ripple w3-round">{{=pg}}</a>
  {{pass}}

  {{if forced_by_id:}}
    <a href="{{=URL(args=('id', vlakno_id, 'all'))}}" class="w3-yellow w3-btn w3-round">{{=forced_by_id}}</a>
  {{elif tato:}}
    <a href="{{=URL(args=(pos, 0, 'all'))}}" class="w3-yellow w3-btn w3-round">{{=tato}}</a>
  {{pass}}

  <a href="{{=URL('nabidka', args=(vlakno_id, pos))}}" class="w3-btn w3-ripple w3-round">&#8801;</a>
</footer>

</body>
</html>
