<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/krepo/static/css/w3.css"/>
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <title>K-Report čtečka</title>
</head>
<body>

<div class="w3-row">
  <a href="{{=URL('index')}}" id="nastav" class="w3-btn w3-indigo w3-ripple w3-round hidden">Zpět</a>
  <a href="{{=URL('nastav')}}" id="nastav" class="w3-btn w3-indigo w3-ripple w3-round hidden">Nastav</a>
</div>

<div class="w3-row">
  {{for tema in temata:}}
    <a href="{{=URL('nabidka', vars={'tema': tema.id})}}" class="w3-btn w3-yellow w3-ripple w3-round hidden">{{=tema.tema}}</a>
  {{pass}}
</div>

{{if vlakna:}}
  <ul class="w3-ul w3-border">
    {{for vlakno in vlakna:}}
      <li><a href="{{=URL('index', args=('id', vlakno.id))}}" class="w3-btn w3-green w3-ripple w3-round hidden">{{=vlakno.vlakno}}</a>
    {{pass}}
  </ul>
{{pass}}
