requests
lxml (nejprve: apt install python-dev (python3-dev) libxml2-dev libxslt1-dev zlib1g-dev)
bs4

-----------------
pokud: server/krepo: Nebylo nalezeno defaultní nastavení krepo.default...
udělej:
  - server/krepo/default/user/register,
  - zaregistruj křestní i příjmení: krepo.default
  - mail někam na vlastní doménu: krepo.default@zitranavylet.cz,
  - server/krepo/default/user/login, přihlaš krepo.default@... (přihlášení není vidět, hodí standard.chybu)
  - server/krepo/sysadmin/temata,  # Ok.
  - server/krepo/sysadmin/vlakna,  # Ok.
  - server/krepo/default/nastav,
  - nastav defaultní diskuze
  - server/krepo/default/user/logout,
  - server/krepo/plugin_manage_groups/index mohu přidat adminy kromě krepo.default@...
