<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{=response.title or request.application}}</title>
  {{include 'plugin_mobilelayout/plugin_mobilelayout_web2py_ajax.html'}} <!-- this includes (based on variable js) w3.css(mz++), vue.js, jquery.js, calendar.js/.css and web2py.js -->
  <style>
    .fwt {padding: 0 3px; overflow-x: hidden;}
  </style>
  {{block head}}{{end}}
</head>

{{if '_fs' not in locals() or not _fs:}}
  {{_fs=session and session.fs or auth.user and auth.user.fs or 14}}
{{pass}}
<style>
  .btnRow {font-size:{{=max(12, _fs)}}px;}
</style>
<body style="font-size:{{=_fs}}px;">

{{block center}}
{{include}}
{{end}}

</body>
</html>
