{{if not 'js' in locals():}}{{js={} }}{{pass}}
{{if 'web2py' in js:}}
    <script type="text/javascript"><!--
        // These variables are used by the web2py.ajax_init function in web2py.js (which is loaded below).
        var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
        var w2p_ajax_disable_with_message = "{{=T('Working...')}}";
        var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
        var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
        var ajax_error_500 = '{{=T.M('An error occured, please [[reload %s]] the page') % URL(args=request.args, vars=request.get_vars) }}'
        //--></script>
    {{
    response.files.insert(0, URL('static', 'js/web2py.js'))
    }}
{{pass}}
{{if 'calendar' in js:}}
    {{
    response.files.insert(0, URL('static', 'js/calendar.js'))
    response.files.insert(0, URL('static', 'css/calendar.css'))
    }}
{{pass}}
{{if 'jquery' in js:}}
    {{
    response.files.insert(0, URL('static', 'js/jquery.min.js'))
    }}
{{pass}}
{{if 'vue' in js:}}
    {{
    response.files.insert(0, URL('static', 'js/vue.min.js'))
    }}
{{pass}}
{{if 'w3' in js:}}
    {{
    response.files.insert(0, URL('static', 'css/w3.css'))
    }}
{{pass}}
{{
response.include_meta()
response.include_files()
}}
